{% extends "layout.html" %}

{% block title %}
    Area Solved
{% endblock %}

{% block main %}
    <p class="tropical">.</p>
    <p>&nbsp</p>
    <h3 class = "p1">Area of this {{ shape }}: </h3>
    {{ areaans }}
    <p>&nbsp</p>
    <img class="image" src="https://www.militarytimes.com/resizer/Iul60acURp6lDSThcoIN53p_6Y0=/1024x0/filters:format(png):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/archetype/UPAV43VUIVAIVDB4GI2ONXQ4GU.png" alt="area51">
    <p>&nbsp</p>
    <p class="tropical">.</p>

{% endblock %}